.talk{padding-right:100px;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left:400px;
    margin-top: 10px;

}
#free{
    margin-left:850px;
    
}
img{
    margin-left:850px;
    margin-bottom:0px;

}